In [ ]:
pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.2.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2025.7.14)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sidrashaikh1475
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database
Downloading pima-indians-diabetes-database.zip to ./pima-indians-diabetes-database

100%|██████████| 8.91k/8.91k [00:00<00:00, 24.4MB/s]

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
dataset ="/content/pima-indians-diabetes-database/diabetes.csv"
df=pd.read_csv(dataset)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

Lists

In [ ]:
a=[1,2,3,3,3,3,4,5]
b=[6,7,8,9]
print(a.pop(5))
print(a)
del(a)

3
[1, 2, 3, 3, 3, 4, 5]

In [ ]:
friends=['Sidra','Bushra','Solkar']
for friend in friends:
  print("Eid Mubarak!",friend,"to you and your family")

Eid Mubarak! Sidra to you and your family
Eid Mubarak! Bushra to you and your family
Eid Mubarak! Solkar to you and your family

In [ ]:
friends=['Sidra','Bushra','Solkar']
for i in range(len(friends)):
  friend=friends[i]
  print('Eid Mubarak!',friend)

Eid Mubarak! Sidra
Eid Mubarak! Bushra
Eid Mubarak! Solkar

In [ ]:
A=[11,2,3,44,5,6]
B=A
A[1]=22
print(A)
print(B)

[11, 22, 3, 44, 5, 6]
[11, 22, 3, 44, 5, 6]

In [ ]:
A=[11,2,3,[2,2,3,4,5,6,6],44,5,6]
B=A[:]
A[1]=22
A[3][1]=5000

print(A)
print(B)

[11, 22, 3, [2, 5000, 3, 4, 5, 6, 6], 44, 5, 6]
[11, 2, 3, [2, 5000, 3, 4, 5, 6, 6], 44, 5, 6]

In [ ]:
import copy
A=[11,2,3,[2,2,3,4,5,6,6],44,5,6]
B=copy.deepcopy(A)
B[3][1]=5000
print(A)
print(B)

[11, 2, 3, [2, 2, 3, 4, 5, 6, 6], 44, 5, 6]
[11, 2, 3, [2, 5000, 3, 4, 5, 6, 6], 44, 5, 6]

In [ ]:
import copy
A=[11,2,3,[2,2,3,4,5,6,6],44,5,6]
B=copy.copy(A)
B[3][1]=5000
print(A)
print(B)

[11, 2, 3, [2, 5000, 3, 4, 5, 6, 6], 44, 5, 6]
[11, 2, 3, [2, 5000, 3, 4, 5, 6, 6], 44, 5, 6]

In [ ]:
A='Apple  Banana Cat Fish Goat Dog Elf'
B=list(A.split())
B.sort()
print(B)

['Apple', 'Banana', 'Cat', 'Dog', 'Elf', 'Fish', 'Goat']

In [ ]:
a=['Rizvi',12,12,23,34,'College']
ls=[]
li=[]
for i in a:
  if isinstance(i,str):
    ls.append(i)
  if isinstance(i,int):
    li.append(i)
print(ls)
print(li)

['Rizvi', 'College']
[12, 12, 23, 34]

In [ ]:
a=[1,2,3,4,45]
b=[9,8,76,65,4]
a.extend(b)
print(a)
a.sort()
print(a)

[1, 2, 3, 4, 45, 9, 8, 76, 65, 4]
[1, 2, 3, 4, 4, 8, 9, 45, 65, 76]

In [ ]:
a=[1,2,3,4,5,6]
even=[]
odd=[]
for i in a:
  if i%2==0:
    even.append(i)
  if i%2!=0:
    odd.append(i)
print(even)
print(odd)

[2, 4, 6]
[1, 3, 5]

In [ ]:
tup=(2,3,4,5,3,5,5,1)
for i in tup:
  if tup.count(i)>1 :
    print(i,"is repeated")

3 is repeated
5 is repeated
3 is repeated
5 is repeated
5 is repeated

In [ ]:
tup=(2,3,4,5,3,5,5,1)
l=[]
for i in tup:
  if tup.count(i)>1 and l.count(i)==0:
    l.append(i)
    print(i,"is repeated")

3 is repeated
5 is repeated

In [ ]:
set={1,2,3,45,6}
set.remove(45)
print(set)

{1, 2, 3, 6}

In [ ]:
set={1,2,3,45,6}
set.add(55)
print(set)

{1, 2, 3, 6, 55, 45}

In [ ]:
set={1,2,3,45,6}
set.pop()
print(set)

{2, 3, 6, 45}

In [ ]:
set={1,2,3,45,6}
set.clear()
print(set)

set()

In [ ]:
a={1,2,3}
b={2,3,4}
a|b
a.union(b)

{1, 2, 3, 4}

In [ ]:
a={1,2,3}
b={2,3,4}
a&b
a.intersection(b)

{2, 3}

In [ ]:
a={1,2,3}
b={2,3,4}
a-b
a.difference(b)

{1}

In [ ]:
a={1,2,3}
b={2,3,4}
a^b
a.symmetric_difference(b)

{1, 4}